.content-changer {
	display: flex;
	gap: 0.5rem;
	margin-top: 1.5rem;
	background-color: var(--color-primary-light);
	width: fit-content;
	padding: 0.3rem;
	border-radius: 5px;
}

.button {
	background-color: transparent;
	border: none;
	color: var(--color-primary);
	padding: 0.5rem 0.8rem;
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.9rem;
}

.button.selected {
	background-color: black;
	color: white;
}
