.explore-filters {
	display: flex;
	gap: 0.7rem;
}

.explore-filter-button {
	cursor: pointer;
	background-color: var(--color-background-secondary-light);
	color: var(--color-text-primary);
	padding: 0.6rem 0.8rem;
	border: none;
	border-radius: 0.5rem;
	transition: all 0.2s ease;
	font-size: 0.9rem;
}

.explore-filter-button:hover {
	background-color: var(--color-background-secondary-light);
}

.explore-filter-button.active {
	background-color: var(--color-background-primary);
	color: var(--color-text-primary-contrast);
	border-color: var(--color-background-primary);
}
