.detailed-product-view .page-title {
	margin-bottom: 0.2rem;
}

.detailed-product-view .page-subtitle {
	margin-bottom: 0.5rem;
	color: var(--color-text-tertiary);
}

.product-image-container {
	width: 100%;
	aspect-ratio: 16/9;
	overflow: hidden;
}

.product-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.detailed-product-price {
	color: var(--color-text-highlight);
	font-weight: bold;
	font-size: 1.8rem;
}

.detailed-product-price-card {
	color: var(--color-text-tertiary);
	background-color: var(--color-background-secondary);
	border: none;
}

.detailed-product-info-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.detailed-product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 0.8rem;
	color: var(--color-text-tertiary);
}

.detailed-product-categories {
	display: flex;
	gap: 0.8rem;
	font-size: 0.8rem;
	font-weight: 600;
}

.detailed-product-category {
	background-color: var(--color-background-highlight);
	color: var(--color-text-highlight);
	border: 1px solid var(--color-border-highlight);
	padding: 0.2rem 0.5rem;
	border-radius: 1rem;
}

.detailed-product-data {
	color: var(--color-text-primary);
	font-weight: 600;
}

.add-to-cart-button-container {
	position: sticky;
	bottom: 0;

	background-color: var(--color-background-page);
	height: 5rem;
	display: flex;
	align-items: center;
}

.add-to-cart-button {
	width: 100%;
}

@media (min-width: 850px) {
	.detailed-product-view {
		display: flex;
	}

	.product-image-container {
		width: 20rem;
		height: 20rem;
	}

	.detailed-product-info-container {
		flex: 1;
	}
}
