.card {
	background-color: var(--color-background-page);
	border-radius: 0.6rem;
	transition: all 0.2s ease;
}

@media (max-width: 850px) {
	.card {
		border-radius: 0;
		padding-inline: var(--page-margin);
	}
}
