.delivery-methods {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	width: 100%;
}

.method-item {
	background-color: var(--color-background-secondary-light);
	justify-content: space-between;
	padding: 0.5rem 0.8rem;
	border: 1px solid var(--color-border);
	border-radius: 5px;
}

.method {
	font-weight: bold;
}

.methods-container {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	align-items: center;
}

@media (max-width: 1050px) {
	.method-item {
		flex-direction: column;
		gap: 0.2rem;
		align-items: start;
	}
}
