.skeleton-wrapper {
	animation: loading 1.5s infinite;
}

.skeleton {
	margin: 0;
	border-radius: 4px;
	background-color: var(--color-skeleton);
}

@keyframes loading {
	0% {
		transform: translateX(-150%);
	}
	50% {
		transform: translateX(-60%);
	}
	100% {
		transform: translateX(150%);
	}
}
