.product-card {
	padding: 0;
	cursor: pointer;
}

.product-info-container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.product-info.title {
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-info.price {
	font-weight: 500;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}

.product-info.description {
	font-size: 0.9rem;
	word-break: break-word;
	white-space: nowrap;
	overflow: hidden;
	color: var(--color-text-secondary);
}

.product-img-container {
	width: 100%;
	aspect-ratio: 4/3;
	overflow: hidden;
	position: relative;
	border-radius: 0.6rem 0.6rem 0 0;
}

.product-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

@media (hover: hover) {
	.product-card:hover {
		border: 1px solid var(--color-border-light);
	}
}

@media (max-width: 850px) {
	.product-info.title,
	.product-info.description {
		white-space: normal;
		overflow: visible;
		text-overflow: unset;
	}

	.product-card {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 1rem;
		align-items: center;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid var(--color-border);
		padding: 1rem;
	}

	@media (hover: hover) {
		.product-card:hover {
			border: none;
			border-bottom: 1px solid var(--color-border);
			background-color: var(--color-background-secondary);
		}
	}

	.product-info-container {
		padding: 0;
	}

	.product-img-container {
		max-width: 8rem;
		height: fit-content;
		border-radius: 0.4rem;
	}
}
