.link {
	width: 100%;
	transition: background-color 0.3s, color 0.3s;
	text-decoration: none;
	color: inherit;
	font-weight: 500;
	padding-block: 0.7rem;
	border-radius: 5px;
	font-size: 1rem;
}

@media (hover: hover) {
	.link:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

.nav-element-icon {
	width: 1.2rem;
	height: 1.2rem;
}
