.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
	gap: 1.2rem;
}

.fr {
	grid-template-columns: 1fr;
}

@media (max-width: 850px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}
