.secondary-button {
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-weight: 600;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.secondary-button:hover {
	background-color: #27272a;
	color: white;
}
