.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
	align-items: end;
	justify-content: center;
	z-index: 999999;
	transition: opacity 0.3s ease;
	cursor: default;
	height: 100vh;
}

.modal-overlay.show {
	display: flex;
}

.card.modal-content {
	padding: var(--page-margin);
	background-color: var(--color-background-page);
	border: none;
	border-radius: 0;
	width: 100%;
	position: relative;
	animation: slideDown 0.3s ease;
	height: 100vh;
	overflow-y: scroll;
}

.modal-close {
	position: absolute;
	color: var(--color-text-primary);
	top: 0.5rem;
	right: 0.8rem;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
