.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
	align-items: end;
	justify-content: center;
	z-index: 999999;
	transition: opacity 0.3s ease;
	cursor: default;
	height: 100vh;
	background-color: var(--color-background-page);
}

.modal-overlay.show {
	display: flex;
}

.modal-content {
	padding: 0 0 2rem 0;
	background-color: var(--color-background-page);
	border: none;
	border-radius: 0;
	width: 100%;
	animation: slideDown 0.3s ease;
	height: 100vh;
	overflow: auto;
}

.modal-close {
	position: absolute;
	right: var(--page-margin);
	top: var(--page-margin);
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--color-text-primary);
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 50%;
	height: 2.8rem;
	width: 2.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.modal-close-icon {
	height: 1.4rem;
	width: 1.4rem;
}

@media (min-width: 850px) {
	.modal-content {
		width: 100%;
		padding: 0 16rem;
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
