.app-root {
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

.app-root .dashboard-closed {
	transform: none;
}

@media (max-width: 850px) {
	.app-root .dashboard-closed {
		transform: translateX(-300px);
	}
}
