.login-button {
	padding: 0.8rem 1rem;
	background: #2563eb;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border: none;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
	color: white;
	font-weight: bold;
	transition: all 0.15s ease;
}

.login-button svg {
	width: 20px;
	height: 20px;
}

.login-button:hover {
	background: #1e40af;
}
