.sales-table {
	padding: 0;
	font-size: 0.9rem;
}

.table-header,
.table-row {
	padding: 1rem;
	text-align: start;
	display: flex;
	align-items: start;
}

.table-header {
	color: var(--color-text-secondary);
	font-weight: 600;
}

.table-row {
	line-height: 1rem;
	border-top: 1px solid var(--color-border);
	font-weight: normal;
	cursor: pointer;
	transition: all 0.2s ease;
}

@media (hover: hover) {
	.table-row:hover {
		background-color: var(--color-background-secondary-light);
	}
}

.store-sale-card-code {
	width: 25%;
	padding-right: 0.5rem;
	padding-block: 0.1rem;
}

.store-sale-card-date {
	width: 15%;
	padding-inline: 0.5rem;
	padding-block: 0.1rem;
}

.store-sale-card-time {
	width: 15%;
	padding-inline: 0.5rem;
	padding-block: 0.1rem;
}

.store-sale-card-user {
	width: 20%;
	padding-inline: 0.5rem;
	padding-block: 0.1rem;
}

.table-row .store-sale-card-user {
	color: var(--color-text-primary);
}

.table-row .store-sale-card-total {
	color: var(--color-text-highlight);
	font-weight: bold;
}

.store-sale-card-total {
	width: 10%;
	padding-inline: 0.5rem;
	padding-block: 0.1rem;
}

.store-sale-card-status {
	width: 15%;
	padding-inline: 0.5rem;
	padding-block: 0.1rem;
}

.store-sale-card-status.completed p {
	background-color: var(--color-success);
	padding: 0.1rem 0.6rem;
	border-radius: 10px;
	width: fit-content;
	margin: auto;
	font-weight: 500;
}

.table-row .store-sale-card-actions {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.action-button {
	text-decoration: none;
	background-color: inherit;
	border: none;
	cursor: pointer;
}

.action-button-icon {
	color: var(--color-text-secondary);
	width: 1rem;
	height: 1rem;
}

.delete-sale-card-button {
	color: #dc2626;
}

@media (max-width: 850px) {
	.sales-table {
		border: none;
	}

	.store-sale-card-status,
	.store-sale-card-user {
		display: none;
	}

	.store-sale-card-code {
		width: 35%;
	}

	.store-sale-card-total {
		width: 15%;
		padding-right: 0;
	}

	.store-sale-card-time,
	.store-sale-card-date {
		width: 25%;
	}
}
