.store-about {
	border: 1px solid var(--color-primary-light);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1.2rem 1.4rem;
}

.about {
	margin: 0;
}

.about-title,
.store-about h3 {
	margin: 0;
	color: var(--color-primary-strong);
	font-weight: 500;
	font-size: 1.1rem;
}

.schedule-container {
	display: flex;
	font-size: 0.9rem;
}

.schedule-time {
	width: 55%;
	margin: 0;
}

.schedule-days {
	width: 45%;
	margin: 0;
	display: flex;
}

.rating-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 600;
}

.rating-points-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.rating-points {
	margin: 0;
}

.rating-detail {
	margin: 0;
	font-weight: normal;
	font-size: 0.9rem;
}

.about-section {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

@media (max-width: 400px) {
	.schedule-container {
		justify-content: space-between;
	}
	.schedule-time,
	.schedule-days {
		width: fit-content;
	}
}
