.page-footer {
	display: none;
	position: fixed;
	bottom: 0;
	background-color: var(--color-background-page);
	width: 100%;
	height: var(--footer-height);
	box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;
}

.page-footer .link {
	border-radius: 0;
}

.page-footer .dashboard-v2-nav-element {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
}

.page-footer .dashboard-v2-nav-element.active {
	background-color: var(--color-background-page-light);
	color: var(--color-text-highlight);
}

.page-footer .nav-element-icon {
	width: 1.5rem;
	height: 1.5rem;
}

@media (max-width: 850px) {
	.page-footer {
		display: flex;
	}

	.page-footer .dashboard-v2-nav-element {
		justify-content: start;
		gap: 0.5rem;
	}
}

@media (max-width: 370px) {
	.page-footer .nav-element-icon {
		width: 1.3rem;
		height: 1.3rem;
	}
}
