.page-footer {
	display: none;
	position: fixed;
	bottom: 0;
	background-color: var(--color-background-page);
	width: 100%;
	height: fit-content;
	height: 4rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;
}

.page-footer .link {
	border-radius: 0;
}

.footer-nav {
	display: flex;
	justify-content: center;
	align-items: start;
	font-size: 1.5rem;
}

.footer-nav.active {
	background-color: var(--color-background-page-light);
	color: var(--color-text-primary);
}

@media (max-width: 850px) {
	.page-footer {
		display: flex;
	}
}
