.card.store-card {
	padding: 0;
	background: #f8fafc;
	border-radius: 0.6rem;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	font-size: 0.9rem;
	color: #374151;
}

.store-card-link {
	text-decoration: none;
	color: inherit;
}

.store-card:hover {
	transform: translateY(-2px);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.store-img-container {
	aspect-ratio: 16/9;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 0.6rem 0.6rem 0 0;
}

.store-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 0.6rem 0.6rem 0 0;
}

.resume {
	padding: 1rem;
}

.extra {
	padding: 0.5rem 1rem;
	border-top: 1px solid #cbd5e1;
	display: flex;
	justify-content: space-between;
}

.store-card-name {
	margin: 0 0 0.7rem 0;
	color: var(--color-primary-strong);
	font-weight: 700;
	font-size: 1.4rem;
}

.store-direction-container {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	margin: 0.5rem 0rem 0.5rem 0rem;
	color: var(--color-primary);
}

.direction-logo {
	width: 1.1rem;
	height: 1.1rem;
}

.store-direction {
	margin: 0;
}

.store-description {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.store-products-count-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.store-products-count {
	font-size: 1rem;
	color: var(--color-primary-strong);
	font-weight: 700;
}

.feedback-rating {
	font-size: 1rem;
	color: var(--color-primary-strong);
	font-weight: 700;
}

.rating-average {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.star-outer {
	position: relative;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
}

.star-outer::before {
	content: '\2605 \2605 \2605 \2605 \2605';
	color: #0005;
}

.star-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	overflow: hidden;
}

.star-inner::before {
	content: '\2605 \2605 \2605 \2605 \2605';
	color: gold;
}

@media (max-width: 370px) {
	.store-card {
		font-size: calc(0.9rem - 0.1rem);
	}
}
