.owner-header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	background-color: var(--color-background-page);
	height: var(--header-height);
	padding-inline: var(--page-margin);
	z-index: 2000;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.installed .owner-header {
	align-items: end;
	padding-bottom: 0.5rem;
}

.owner-header-nav-element {
	background-color: var(--color-background-secondary);
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid var(--color-border);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.owner-header-nav-element:hover {
	background-color: var(--color-background-page-light);
}

.owner-header-nav-element.active {
	background-color: var(--color-background-secondary);
}

.owner-header-nav-element.active:hover {
	background-color: var(--color-background-page-light);
}

@media (max-width: 600px) {
	.owner-header {
		font-size: 0.9rem;
	}
}
