.logo-container {
	display: flex;
	align-items: center;
	width: fit-content;
	text-decoration: none;
	color: var(--color-text-primary);
	gap: 0.8rem;
}

.logo-icon {
	min-height: 2.4rem;
	min-width: 2.4rem;
	aspect-ratio: 1;
	background-color: var(--color-background-highlight);
	color: var(--color-text-highlight);
	padding: 0.4rem;
	border-radius: 6px;
}

.logo-container h1 {
	font-size: 1.6rem;
}
