.logo-container {
	display: flex;
	width: fit-content;
	align-items: center;
	text-decoration: none;
	color: var(--color-text-secondary);
	gap: 0.8rem;
}

.secondary-logo {
	pointer-events: none;
}

.logo-icon-container {
	background-color: var(--color-background-primary);
	display: flex;
	padding: 0.3rem;
	border-radius: 8px;
}

.logo-icon {
	color: var(--color-background-page);
	width: 1.5rem;
	height: 1.5rem;
}

.logo-container h1 {
	font-size: 1.5rem;
}

.secondary-logo h1 {
	font-size: 1.5rem;
	font-weight: 500;
}

.logo-container.small-screen {
	display: none;
}

@media (max-width: 768px) {
	.logo-container.small-screen {
		display: flex;
		width: 100%;
		margin-bottom: 2rem;
		justify-content: start;
	}

	.logo-icon {
		width: 1.5rem;
		height: 1.5rem;
	}

	.logo-container h1 {
		font-size: 1.3rem;
	}
}
