.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	text-decoration: none;
	color: inherit;
}

.logo-container.secondary {
	pointer-events: none;
	color: var(--color-primary-weak);
}

.logo {
	width: 2rem;
	height: 2rem;
}

.logo-container h1 {
	font-size: 1.5rem;
}

.logo-container.secondary h1 {
	font-size: 1.5rem;
	font-weight: 500;
}

.logo-container.small-screen {
	display: none;
}

@media (max-width: 768px) {
	.logo-container.small-screen {
		display: flex;
		width: 100%;
		padding-left: 2.3rem;
		margin-bottom: 0.5rem;
	}

	.logo {
		width: 1.5rem;
		height: 1.5rem;
	}

	.logo-container h1 {
		font-size: 1.3rem;
	}
}
