.modal-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: all;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-background-page);
	z-index: 9000;
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* iOS scroll suave */
}

.modal-wrapper:not(:last-child) {
	overflow: hidden;
}

.modal-wrapper.header-visible {
	height: calc(100% - var(--header-height));
	top: var(--header-height);
}

.modal-close {
	cursor: pointer;
	position: fixed;
	right: var(--page-margin);
	top: var(--page-margin);
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--color-text-primary);
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.header-visible .modal-close {
	top: calc(var(--header-height) + var(--page-margin));
}
