.owner-store-selector {
	position: relative;
	background-color: var(--color-background-secondary);
	border: 1px solid var(--color-border-strong);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	cursor: pointer;
	z-index: 100;
}

.owner-store-selector .modal-content {
	padding-inline: 0;
	padding-bottom: 0;
}

.owner-store-selector h3 {
	padding-inline: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--color-border);
}

.owner-store-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 0.7rem 1rem;
	font-weight: 600;
	transition: all 0.15s ease;
	height: fit-content;
	font-size: 1rem;
}

.owner-store-header:hover {
	background-color: var(--color-background-secondary);
	color: var(--color-text-tertiary);
}

.selector-icon {
	color: var(--color-text-highlight);
	height: 1.1rem;
	width: 1.1rem;
}

.selector-arrow {
	color: var(--color-text-secondary);
}

.owner-store-selector-options {
	background-color: var(--color-background-secondary);
}

.owner-store-selector-option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 6px;
	transition: all 0.15s ease;
	font-size: 0.9rem;
	cursor: pointer;
}

.owner-store-selector-option:hover {
	background-color: var(--color-border-light);
}

.owner-store-state {
	white-space: nowrap;
	background-color: var(--color-background-secondary-light);
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	font-weight: 500;
	font-size: 0.8rem;
}

.active-owner-store {
	background-color: var(--color-background-primary);
}

@media (max-width: 500px) {
	.owner-store-header {
		font-size: 1.3rem;
		font-weight: 700;
	}

	.selector-icon {
		display: none;
	}

	.owner-store-selector {
		position: normal;
		border: none;
		background-color: inherit;
	}

	.owner-store-header {
		padding: 0;
		gap: 0.2rem;
	}

	.selector-arrow {
		font-size: 0.9rem;
		margin-top: 0.3rem;
	}
}
