.dashboard-v2 {
	position: sticky;
	top: 0;
	height: 100%;
	z-index: 1000;
	transition: all 0.5s ease;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-right: 1px solid var(--color-border);
	padding: var(--page-margin);
	width: 300px;
}

.inactive-session .dashboard-v2 {
	width: 0;
}

.dashboard-v2-nav-element {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: var(--text-color-secondary);
	padding-inline: 1rem;
}

.dashboard-v2-nav-element.active {
	color: var(--color-text-highlight);
	background-color: var(--color-background-secondary-light);
}

.dashboard-v2-nav-menu-ul {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: blue;
}

@media (max-width: 500px) {
	.nav-element-text {
		font-size: 1.1rem;
	}
}
