.rating-average {
	--star-size: 1.1rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;
	line-height: var(--star-size);
	width: fit-content;
}

.feedback-rating {
	font-size: var(--star-size);
	font-weight: bold;
	color: var(--color-text-primary);
}

.stars-container {
	position: relative;
	width: calc(var(--star-size) * 5);
	height: var(--star-size);
}

.stars-bg,
.stars-fg {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
}

.stars-bg .star {
	color: var(--color-text-highlight);
	opacity: 0.35;
}

.stars-fg {
	overflow: hidden;
	white-space: nowrap;
}

.star.filled {
	color: var(--color-text-highlight);
}

.star {
	height: var(--star-size);
	width: var(--star-size);
}

@media (max-width: 850px) {
	.rating-average {
		--star-size: 1rem;
	}
}

@media (max-width: 320px) {
	.rating-average {
		--star-size: 0.9rem;
	}
}

@media (max-width: 280px) {
	.feedback-rating {
		display: none;
	}
}
