.app-container {
	display: flex;
	transition: all 0.3s ease-in-out;
	justify-content: space-between;
	gap: 0;
	height: 100vh;
	width: 100%;
	overflow: auto;
	margin-left: 0;
	-webkit-overflow-scrolling: touch; /* iOS scroll suave */
	transition: all 0.3s ease-in-out;
}

.app-container.modal-open {
	overflow: hidden;
}

@media (max-width: 850px) {
	.app-container {
		width: calc(100% + 300px);
	}
}
