.app-container {
	width: 100%;
	min-height: calc(100dvh - var(--header-height));
	display: flex;
	padding: var(--page-margin);
	gap: 1rem;
	transition: all 0.3s ease-in-out;
	justify-content: space-between;
	background-color: var(--color-background-page);
}

.inactive-session .app-container {
	align-items: center;
}

@media (max-width: 850px) {
	.app-container {
		padding-bottom: calc(var(--footer-height) + var(--page-margin));
	}
}
