.card.store-contact-information {
	position: sticky;
	top: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	width: 30%;
	border-radius: 0.6rem;
	color: var(--color-primary);
	border: 1px solid var(--color-primary-light);
	height: fit-content;
	box-sizing: border-box;
}

.store-contact-information .title {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--color-primary-strong);
	margin: 0rem 0rem 0.5rem 0rem;
	text-align: center;
}

.primary-information {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.information-item {
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.item-logo {
	margin: 0;
	width: 1.2rem;
	height: 1.2rem;
}

.item-data {
	margin: 0;
}

@media (max-width: 1000px) {
	.card.store-contact-information {
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
		gap: 3rem;
	}
}

@media (max-width: 600px) {
	.card.store-contact-information {
		flex-direction: column;
	}
}

@media (max-width: 350px) {
	.card.store-contact-information {
		align-items: start;
	}

	.information-item {
		justify-content: start;
	}

	.primary-information {
		align-items: start;
	}
}
