.custom-button {
	background-color: var(--color-background-page);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-weight: 600;
	font-size: 0.9rem;
	height: fit-content;
	padding: 0.7rem 1rem;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border: none;
}

.custom-button:hover {
	background-color: var(--color-background-page-light);
	color: white;
}

.button-icon {
	width: 1rem;
	height: 1rem;
}

.primary {
	background-color: var(--color-background-primary);
}

.primary:hover {
	background-color: var(--color-background-primary-light);
}

.secondary {
	color: var(--color-text-highlight);
	border: 1px solid var(--color-background-primary);
}

.secondary:hover {
	color: var(--color-background-primary-light);
	border: 1px solid var(--color-background-primary-light);
	background-color: var(--color-background-secondary);
}
