.custom-button {
	background-color: var(--color-background-secondary);
	color: var(--color-text-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-weight: 600;
	height: fit-content;
	padding: 0.7rem 1rem;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border: none;
}

.custom-button:hover {
	background-color: var(--color-background-secondary-light);
	color: white;
}

.button-icon {
	width: 1rem;
	height: 1rem;
}

.primary {
	background-color: var(--color-highlight);
	color: white;
}

.primary:hover {
	background-color: var(--color-highlight-light);
}

.secondary {
	background-color: var(--color-background-secondary);
	color: var(--color-highlight);
	border: 1px solid var(--color-highlight);
}

.secondary:hover {
	color: var(--color-highlight-light);
	border: 1px solid var(--color-highlight-light);
	background-color: var(--color-background-secondary);
}

@media (max-width: 850px) {
	.secondary,
	.custom-button {
		background-color: var(--color-background-page);
	}
}
