.register-fullname-section {
	display: flex;
	gap: 1rem;
}

.register-field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.register-fields {
	margin-bottom: 1rem;
}

.register-input {
	background-color: var(--color-background-secondary-light);
	padding: 0.7rem 1rem;
	border: 1px solid var(--color-border-light);
	border-radius: 4px;
	box-sizing: border-box;
	transition: border-color 0.2s;
}
