.personal-info {
	color: var(--color-primary-strong);
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	padding-top: 0.5rem;
}

.info-label {
	margin: 0;
}

.info-value {
	margin: 0.5rem 0rem 0rem 0rem;
	background-color: #f3f4f6;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #e5e7eb;
}
