.owner-header {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: var(--page-margin);
	height: var(--header-height);
	z-index: 2000;
	border-bottom: 1px solid var(--color-border);
	transition: all 0.3s ease;
	line-height: 1;
	background-color: var(--color-background-page);
}

.header-actions {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.inactive-session .owner-header {
	display: none;
}

.header-space {
	background-color: blue;
	height: var(--header-height);
}

.owner-header .custom-button {
	padding: 0;
}

.owner-header .custom-button .button-icon {
	width: 1.5rem;
	height: 1.5rem;
}

.owner-header-nav-element {
	background-color: var(--color-background-secondary);
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid var(--color-border);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.owner-header-nav-element:hover {
	background-color: var(--color-background-page-light);
}

.owner-header-nav-element.active {
	background-color: var(--color-background-secondary);
}

.owner-header-nav-element.active:hover {
	background-color: var(--color-background-page-light);
}

@media (max-width: 850px) {
	.owner-header .custom-button .button-icon {
		width: 1.3rem;
		height: 1.3rem;
	}
}
