.app-container {
	width: 100%;
	display: flex;
	min-height: 100vh;
	padding: var(--page-margin);
	gap: 1rem;
	transition: all 0.3s ease-in-out;
	justify-content: space-between;
	background-color: var(--color-background-page);
}

@media (max-width: 850px) {
	.app-container {
		padding-bottom: 4.5rem;
	}
}
