:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	color: var(--color-text-secondary);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: slatescale;

	/* Background colors */
	--color-background-page: #020617; /* slate-950 */
	--color-background-page-light: #0f172a; /* slate-900 */
	--color-background-primary: #0d9488; /* teal-600 */
	--color-background-primary-light: #14b8a6; /* teal-500 */
	--color-background-secondary: #1e293b; /* slate-800 */
	--color-background-secondary-light: #334155; /* slate-700 */

	/* Text colors */
	--color-text-primary: #2dd4bf; /* teal-400 */
	--color-text-secondary: #f3f4f6; /* gray-100 */
	--color-text-tertiary: #9ca3af; /* gray-400 */

	/* Border colors */
	--color-border: #374151; /* gray-700 */
	--color-border-light: #6b7280; /* gray-500 */

	/* Skeleton colors */
	--color-skeleton: #6b7280; /* gray-500 */
	--color-skeleton-light: #9ca3af; /* gray-400 */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-title {
	color: var(--color-text-primary);
}

.page-subtitle {
	font-size: 1.1rem;
	color: var(--color-text-tertiary);
	margin-top: 0.5rem;
}

.page-title-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

[data-theme='dark'] {
	--color-background-page: #171823; /* custom */
	--color-background-page-light: #1f2937; /* gray-800 */
	--color-background-primary: #0d9488; /* teal-600 */
	--color-background-primary-light: #14b8a6; /* teal-500 */
	--color-background-secondary: #374151; /* gray-700 */
	--color-background-secondary-light: #4b5563; /* gray-600 */

	/* Text colors */
	--color-text-primary: #2dd4bf; /* teal-400 */
	--color-text-secondary: #f3f4f6; /* gray-100 */
	--color-text-tertiary: #9ca3af; /* gray-400 */

	/* Border colors */
	--color-border: #4b5563; /* gray-600 */
	--color-border-light: #9ca3af; /* gray-400 */

	/* Skeleton colors */
	--color-skeleton: #6b7280; /* gray-500 */
	--color-skeleton-light: #9ca3af; /* gray-400 */
}
