.link {
	color: var(--color-text-tertiary);
	text-decoration: none;
	font-weight: 500;
	padding-bottom: 0.3rem;
	transition: background-color 0.3s, color 0.3s;
	transition: padding-left 0.3s, color 0.3s;
}

.link:hover {
	color: var(--color-text-secondary);
}

.active {
	color: var(--color-text-primary);
	border-bottom: 2px solid var(--color-text-primary);
}

.active:hover {
	color: var(--color-text-primary);
}

@media (max-width: 768px) {
	.link {
		font-size: 1.2rem;
		padding-left: 0rem;
	}

	.active {
		text-decoration: none;
		border-left: 2px solid black;
		padding-left: 0.5rem;
	}
}
