.link {
	color: var(--color-primary);
	text-decoration: none;
	font-weight: 500;
	padding: 0.5rem;
	transition: background-color 0.3s, color 0.3s;
	transition: padding-left 0.3s, color 0.3s;
}

.link:hover {
	color: black;
	text-decoration: underline;
}

.active {
	color: black;
	text-decoration: underline;
}

@media (max-width: 768px) {
	.link {
		font-size: 1.2rem;
		padding-left: 0rem;
	}

	.active {
		text-decoration: none;
		border-left: 2px solid black;
		padding-left: 0.5rem;
	}
}
