.store-contact-information {
	position: sticky;
	top: var(--page-margin);
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1.5rem;
	width: 30%;
	border-radius: 0.6rem;
	height: fit-content;
	box-sizing: border-box;
}

.store-contact-information .title {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--color-text-primary);
	margin: 0rem 0rem 0.5rem 0rem;
}

.primary-information {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
}

.information-item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 0.8rem;
}

.item-logo {
	width: 1.2rem;
	height: 1.2rem;
	color: var(--color-text-primary);
}

.item-data {
	word-break: break-word;
}

@media (max-width: 1200px) {
	.store-contact-information {
		font-size: 0.9rem;
	}

	.store-contact-information .title {
		font-size: 1.1rem;
	}
}

@media (max-width: 900px) {
	.store-contact-information {
		width: calc(100% - 2 * var(--page-margin));
		font-size: 1rem;
	}

	.hide {
		display: none;
	}
}

@media (max-width: 330px) {
	.store-contact-information {
		font-size: 0.9rem;
	}
}
